<div class="container">
    <form action="" class="was-validated">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="enter your name" required="">
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">Invalid name</div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="enter your email" required="">
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">Invalid email</div>
        </div>
        <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="tel" pattern="^\d{10}$" class="form-control" placeholder="enter your mobile no"  required="">
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">Invalid mobile no</div>
        </div>
        <div class="form-group">
            <label for="area">Enter Area</label>
            <input type="text" class="form-control" placeholder="Enter your area name" required="">
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">Invalid area name</div>
        </div>
        <div class="form-group">
            <label for="road">Enter street</label>
            <input type="text" class="form-control" placeholder="Enter your street name" required="">
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">Invalid street name</div>
        </div>
        <div class="form-group">
            <label for="city">Enter City</label>
            <input type="text" class="form-control" placeholder="Enter your city name" required="">
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">Invalid city name</div>
        </div>
        <div class="form-group">
            <label for="state">Select State</label>
            <select class="form-control"  required="">
                <option>Select</option>
                <option>Maharashtra</option>
                <option>Andhra Pradesh</option>
                <option>Assam</option>
                <option>Bihar</option>
            </select>
        </div>
        <div class="form-group">
            <label for="country">Select Country</label>
            <select class="form-control"  required="">
                <option>Select</option>
                <option>India</option>
                <option>China</option>
                <option>United State</option>
                <option>Indonesia</option>
            </select>
        </div>

        <input type="button" class="btn btn-primary" value="submit">
    </form>
</div>